<!DOCTYPE html>
<html layout:decorate="~{/layout/layout}">

<head>
    <title>메인</title>
</head>

<main layout:fragment="main">
    <section class="section section-post-list container mx-auto">
        <script src="https://js.tosspayments.com/v1"></script>
        <script th:inline="javascript">
            const orderId = /*[[ ${order.id} ]]*/ null;
            const buyerName = /*[[ ${order.buyer.name} ]]*/ null;
            const orderName = /*[[ ${order.name} ]]*/ null;
            const orderPayPrice = /*[[ ${order.calculatePayPrice} ]]*/ null;
        </script>
        <form hidden method="post" name="payByRestCashOnlyForm" th:action="@{|/order/${order.id}/payByRestCashOnly|}"></form>

        <div class="px-2 pt-4">
            <h1 class="font-bold text-lg">
                <i class="fa-solid fa-cart-shopping"></i>
                주문 목록
            </h1>

            <div class="mt-2">
                <ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-10">
                    <li th:each="orderItem : ${order.orderItems}">
                        <th:block th:replace="fragment/orderListItem :: orderListItem" ></th:block>
                    </li>
                </ul>
            </div>
            <div th:text="@{|보유 예치금 : ${actorRestCash}|}"></div>
            <<!--
                         ${order.calculatePayPrice > actorRestCash ? actorRestCash : order.calculatePayPrice} 는 주문가격과 예치금을 비교 해주는 연산이다.
                         비교해서 값이 주문 금액이 크면 남은 예치금을 값이 작으면 모든 주문 금액을 input 값에 넣기
                -->
            <div th:with="maxUseRestCash = ${order.calculatePayPrice > actorRestCash ? actorRestCash : order.calculatePayPrice}">
                <span th:if="${order.payable}">사용할 예치금 : </span>
                <input th:if="${order.payable}" type="number" id="PaymentForm__useRestCash"
                       th:placeholder="|0 ~ ${maxUseRestCash}|"
                       class="input input-bordered min-w-[300px]" min="0" th:max="${maxUseRestCash}"
                       onkeydown="PaymentForm__useRestCashFix();"
                       onkeyup="PaymentForm__useRestCashFix();"
                >
                <label th:if="${order.payable}" class="inline-flex items-center ml-3">
                    <span>전액사용</span>
                    <input onchange="PaymentForm__useRestCashAllChanged();" id="PaymentForm__useRestCashAll"
                           type="checkbox" class="ml-2 checkbox">
                </label>
            </div>
            <button th:if="${order.payable}" onclick="payment();" class="btn btn-sm btn-primary">카드결제</button>
            <span th:if="${order.isPaid}" th:text="@{|${order.calculatePayPrice()} 결제완료|}"></span>

            <div>
                <div>
                    <span>PG결제가격 : </span>
                    <span id="PaymentForm__pgPayPriceDisplay">

                        </span>
                </div>
            </div>

        </div>
    </section>
    <script>
        const $PaymentForm__useRestCash = $("#PaymentForm__useRestCash");
        const $PaymentForm__useRestCashAll = $("#PaymentForm__useRestCashAll");
        const $PaymentForm__pgPayPriceDisplay = $("#PaymentForm__pgPayPriceDisplay");

        const tossPayments = TossPayments("test_ck_OyL0qZ4G1VOEJZvgGKw8oWb2MQYg");

        function payment() {
            // 적은 금액을 불러오는 것. ( == input 값을 불러오는 것 )
            let useRestCash = parseInt($PaymentForm__useRestCash.val());

            // 주문 금액과 예치금이 같을 때는 pg 사의 결제 말고, 예치금 내에서만 결제가 이루어짐
            if (orderPayPrice == useRestCash) {
                document.payByRestCashOnlyForm.submit();
                return;
            }

            const method = "카드"; // "카드" 혹은 "가상계좌"

            const paymentData = {
                amount: orderPayPrice - useRestCash,
                orderId: "order__" + orderId + "__" + (Math.random() + "").substring(2),
                orderName,
                customerName: buyerName,
                successUrl: window.location.origin + "/order/" + orderId + "/success",
                failUrl: window.location.origin + "/order/" + orderId + "/fail"
            };

            tossPayments.requestPayment(method, paymentData);
        }
    </script>
    <script>
        function PaymentForm__useRestCashFix() {
            // 적은 금액을 불러오는 것. ( == input 값을 불러오는 것 )
            let useRestCash = parseInt($PaymentForm__useRestCash.val());

            if (isNaN(useRestCash)) {
                useRestCash = 0;
            }
            // max 의 변수 값을 불러오는 것.
            const maxUseRestCash = parseInt($PaymentForm__useRestCash.attr('max'));

            // 만약에 주문 금액보다 max 의 금액보다 클 경우 ( ex) 4800원이 주문 금액인데 10000원을 금액을 썼을 경우 )
            if ( useRestCash > maxUseRestCash ) {
                // useRestCash 의 값을 maxUseRestCash 만듦. ( 주문 계산을 위해서 )
                useRestCash = maxUseRestCash;
                // input 의 값을 주문 금액으로 바꾸게 만듦.
                $PaymentForm__useRestCash.val(maxUseRestCash);
            }

            //  input 값이 주문 금액이랑 같을 때 전체 사용 check 박스를 체크해줌.
            if ( useRestCash == maxUseRestCash ) {
                $PaymentForm__useRestCashAll.prop('checked', true);
            }
            else {
                $PaymentForm__useRestCashAll.prop('checked', false);
            }

            // pg 사의 결제 금액이 얼마인지 화면상에 보여주기 위한 계산.
            const pgPayPrice = orderPayPrice - useRestCash;

            // pg 사의 결제 금액을 텍스트로 넣어줌.
            $PaymentForm__pgPayPriceDisplay.text(pgPayPrice);
        }

        function PaymentForm__useRestCashAllChanged() {
            // 전체 사용 check 를 true(체크)시 input 의 max 값을 넣어주게 됨.
            if ( $PaymentForm__useRestCashAll.prop('checked') ) {
                const maxUseRestCash = parseInt($PaymentForm__useRestCash.attr('max'));
                $PaymentForm__useRestCash.val(maxUseRestCash);
            }
            // 전체 사용 check 를 false(체크 풀면)시 input 의 0 값을 넣어주게 됨.
            else {
                $PaymentForm__useRestCash.val(0);
            }
            // 기본 적으로 접속했을 때 자동으로 함수 실행을 위해 함수 실행
            PaymentForm__useRestCashFix();
        }
        // 기본 적으로 접속했을 때 자동으로 함수 실행을 위해 함수 실행
        PaymentForm__useRestCashFix();
    </script>
</main>

</html>