<!DOCTYPE html>
<html layout:decorate="~{layout/layout.html}">

<head>
    <title>정산 데이터 목록</title>
</head>

<body>
<main layout:fragment="main">
    <section class="section section-profile flex-grow flex flex-col items-center justify-center">
        <section th:unless="${items != null && items.size > 0}"
                 class="section section-cart-items flex-grow flex items-center justify-center">
            <div class="text-center">
                <div>정산 데이터가 존재하지 않습니다.</div>
                <a href="/adm/rebate/makeData" class="block text-link mt-2"><i class="fa-solid fa-code-merge"></i>정산 데이터 생성하러 가기</a>
            </div>
        </section>
        <div th:if="${items != null && items.size > 0}" class="container mx-auto">
            <div>
                <h1>정산데이터 목록</h1>

                <div class="overflow-x-auto">
                    <label class="flex items-center">
                        <input type="checkbox" class="Rebate_allCheckbox checkbox">
                        <span class="ml-2 pt-2">전체선택</span>
                    </label>
                    <table class="table table-compact w-full">
                        <thead>
                        <tr>
                            <th>선택</th>
                            <th>품목번호</th>
                            <th>결제날짜</th>
                            <th>상품명</th>
                            <th>결제가격</th>
                            <th>PG FEE</th>
                            <th>환불가격</th>
                            <th>판매자</th>
                            <th>예상정산가</th>
                            <th>정산내역번호</th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="item : ${items}">
                            <td><input th:if=${item.rebateAvailable} type="checkbox" class="Rebate_ItemCheckbox checkbox"
                                   th:value="${item.id}"></td>
                            <td th:text="${item.orderItem.id}"></td>
                            <td th:text="${item.payDate}"></td>
                            <td th:text="${item.productSubject}"></td>
                            <td th:text="${item.payPrice}"></td>
                            <td th:text="${item.pgFee}"></td>
                            <td th:text="${item.refundPrice}"></td>
                            <td th:text="${item.sellerName}"></td>
                            <td th:text="${item.calculateRebatePrice}"></td>
                            <td>
                                <span th:text="${item.rebateCashLog?.id}"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="grid grid-cols-2 mt-14 gap-2">
                        <a href="javascript:;" onclick="RemoveRebateItemsForm__submit();"
                           class="btn btn-warning btn-outline">건별정산</a>
                        <form method="POST" name="removeRebateItemsForm" th:action="@{|/adm/rebate|}" hidden>
                            <input type="hidden" name="ids">
                        </form>

                        <a href="javascript:;" onclick="$(this).next().submit();" class="btn btn-primary">전체
                            정산하기</a>
                        <form method="POST" th:action="@{|/adm/rebate|}" hidden></form>
                    </div>
                </div>
            </div>
        </div>

        <script>
            // 전체선택 체크박스
            const $Rebate_allCheckbox = $('.Rebate_allCheckbox');
            // 아이템 체크박스
            const $Rebate_ItemCheckbox = $('.Rebate_ItemCheckbox');

            // 전체선택 체크박스에 이벤트
            $Rebate_allCheckbox.change(function () {
                const allChecked = $(this).prop('checked');
                $Rebate_ItemCheckbox.prop('checked', allChecked); // 아이템 체크박스들에게 체크상태 동기화
            });

            // 아이템 체크박스에 이벤트
            $Rebate_ItemCheckbox.change(RebateItemCheckbox__changed);

            function RebateItemCheckbox__changed() {
                const allChecked = $Rebate_ItemCheckbox.length == $('.Rebate_ItemCheckbox:checked').length;

                $Rebate_allCheckbox.prop('checked', allChecked);
            }

            // 폼 처리
            let RemoveRebateItemsForm__submitDone = false;

            function RemoveRebateItemsForm__submit() {
                if (RemoveRebateItemsForm__submitDone) return;

                const form = document.removeRebateItemsForm;

                const $checked = $('.Rebate_ItemCheckbox:checked');

                if ($checked.length == 0) {
                    alert('삭제할 장바구니 품목을 선택해주세요.');
                    return;
                }

                const ids = $checked.map((index, el) => $(el).val()).get();
                form.ids.value = ids;
                form.submit();
                RemoveRebateItemsForm__submitDone = true;
            }
        </script>
    </section>

</main>
</body>
</html>