<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <form method="post" th:action="@{/member/findUsername}" th:object="${memberFindUsernameForm}">
        <div th:replace="form_errors :: formErrorsFragment"></div>
        <div class="mb-2">
            <span>이메일</span>
            <input th:type="text" th:name="email"/>
        </div>
        <button type="submit">아이디 찾기</button>
    </form>
</div>

</html>