<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:th="http://www.thymeleaf.org"
        layout:decorate="~{layout}">

<div layout:fragment="content" class="container my-3">
    <form method="post" th:action="@{/member/modifyPassword}" th:object="${memberModifyPasswordForm}">
        <div th:replace="form_errors :: formErrorsFragment"></div>
        <div class="mb-2">
            <span>현재 비밀번호</span>
            <input th:type="password" th:name="oldPassword"/>
        </div>
        <div class="mb-2">
            <span>새 비밀번호</span>
            <input th:type="password" th:name="password"/>
        </div>
        <div class="mb-2">
            <span>새 비밀번호확인</span>
            <input th:type="password" th:name="passwordConfirm"/>
        </div>
        <button type="submit">수정하기</button>
    </form>
</div>

</html>